# Python Basic Assignment - 20

### Question 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

### Answer:

In [1]:
test1 = 'This is a test of the emergency text system,'
with open('test.txt','w') as file:
    file.write(test1)

### Question 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

### Answer:

In [2]:
file = open('test.txt', 'r')
test2 = file.readline()

file.close()

if test1 == test2:
    print("There is no difference between test 1 and test 2")
else:
    print("test 1 and test 2 are different from each other")

There is no difference between test 1 and test 2

### Question 3. Create a CSV file called books.csv by using these lines:

`title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992`

### Answer:

In [3]:
import csv

rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]

with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)
    
with open('books.csv','r',newline='') as file:
    for line in file.readlines():
        print(line)

title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992

### Question 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

### Answer:

In [4]:
import sqlite3
db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books (title text, author text, year int)")
db.commit()
db.close()

### Question 5. Read books.csv and insert its data into the book table.

### Answer:

In [5]:
import sqlite3
import pandas as pd

db = sqlite3.connect('books.db')
df = pd.read_csv('books.csv',encoding='unicode_escape')
df.to_sql('books', db, if_exists='append', index = False)

db.commit()
db.close()

### Question 6. Select and print the title column from the book table in alphabetical order.

### Answer:

In [6]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title FROM books ORDER BY title ASC")
for ele in output:
    print(ele[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

### Question 7. From the book table, select and print all columns in the order of publication.

### Answer:

In [7]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT * FROM books ORDER BY year")
for ele in output:
    print(ele)
conn.commit()
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [9]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('select * from books ORDER by year')

df = pd.DataFrame(cursor.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

### Question 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

### Answer:

In [10]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

### Question 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

### Answer:

In [11]:
! python -m pip install redis

# or try this: !pip install redis

Collecting redis
  Downloading redis-4.1.4-py3-none-any.whl (175 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\utkarsh\anaconda3\lib\site-packages (from redis) (21.0)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\utkarsh\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\utkarsh\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.1.4

In [25]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

C:\Users\Utkarsh\AppData\Local\Temp/ipykernel_8704/19521559.py:4: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

{b'count': b'1', b'name': b'Fester Bestertester'}

### Question 10. Increment the count field of test and print it.

### Answer:

In [26]:
conn.hincrby('test','count', 3)

4